// Madoi設定
export const madoiUrl = "wss://your.domain.example.com/madoi-server/rooms";
export const madoiKey = "MADOI_API_KEY";

// SkyWay設定
// ビデオ会議を使用する際は、skyWayEnabledにtrueを設定してskyWayTokenUrlを指定してください。
export const skyWayEnabled = false;
export const skyWayTokenUrl = "https://your.domain.example.com/madoi-server/skyWayToken?authToken=" + madoiKey;
export const skyWayAppId = "";
export const skyWaySecret = "";
